
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin:10px;

}
.grid-container div{
  border: 5px solid black;
  padding: 50px;
  margin:10px;

}
.grid-container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin:10px;
}
.grid-container2 div{
  border: 5px solid black;
  padding: 25px;
  margin:10px;
}
